/* ========================================
  HWERO LINE
======================================== */
.hero-line {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1.2px;
  background: #fff;
}

/* ========================================
  BOTÃO INICIAR CONVERSA
======================================== */
.consulta-wrap {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 0;
}

.consulta-btn {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.5rem;
  background: #ffffffed;
  color: #000;
  border: none;
  padding: 1.5rem 1.5rem;
  font-weight: 700;
  cursor: pointer;
  border-radius: 0.5rem;
  text-decoration: underline;
  position: relative;
  text-decoration-thickness: 3px;
  text-underline-offset: 0.125rem;
  text-decoration-color: #000;
  transition: transform .15s ease,
              background-color 0.3s ease,
              text-decoration-color 0.1s ease;
}

.consulta-btn:hover {
  text-decoration-color: transparent;
  background: #d9d9d9ed;
}

.consulta-btn:active {
  transform: translateY(1px);
}

/* ========================================
   SOBRE
======================================== */
.sobre-section {
  padding: 2.5rem 1rem;
}

.sobre-inner {
  max-width: 68.75rem;
  margin: 0 auto;
  display: flex;
  gap: 28rem;
  flex-wrap: wrap;
  align-items: stretch;
}

.foto {
  flex: 0 0 auto;
}

.foto img {
  width: 100%;
  max-width: 20rem;
  height: auto;
  border-radius: 0.5rem;
  display: block;
  filter: grayscale(100%) contrast(85%) brightness(100%);
}

.formacao {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: 'Space Mono', monospace;
  color: #ddd;
}

.formacao h3 {
  margin-bottom: 0.5rem;
}

.saiba-mais {
  position: relative;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.saiba-mais::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: #fff;
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.4s ease;
}

.saiba-mais:hover::after {
  transform: scaleX(0);
}

.saiba-mais:hover {
  color: #e0e0e0;
}

/* ========================================
   LOCALIZAÇÃO
======================================== */
.localizacao-section {
  padding: 5rem 0;
}

.localizacao-card {
  background: #121212;
  color: #f5f5f5;
  width: 100%;
  max-width: none;
  border-radius: 0;
  padding: 6.875rem 0;
  text-align: center;
  margin-bottom: 6.125rem;
}

.localizacao-title {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 4.5rem;
  font-weight: 350;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 0.5rem;
  color: #f5f5f5;
  -webkit-text-stroke: 3.5px;
}

.map-wrap {
  max-width: 60.4rem;
  height: 30rem;
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.map-wrap iframe {
  width: 100%;
  height: 100%;
  border: 0;
  display: block;
}

#local {
  position: relative;
  top: -3.125rem;
  height: 1px;
  width: 100%;
  pointer-events: none;
}